	
	<!-- <div class="container_fluid"> -->
			<div class="row footer-wrapper">
				<div class="col-md-12 col-sm-12">
					<div class="col-md-4 col-sm-4 col-xs-4 footer-content-adj">
						<p class="address">Want to reach us ?</p>
						<p class="address">A 001 Boomerang, Saki vihar, andheri(E), Mumbai</p>	
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 footer-icon-adj">
						<div class="twitter_icon"></div>
						<div class="facebook_icon"></div>
						<div class="google_plus"></div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 footer-email-tel">
						<div>
							<div class="tel_icon"></div>
							<span class="phn-no">+91-2346243646432</span>
						</div>
						<div>
							<div class="email-icon"></div>
							<!-- <span class="email-icon"></span> -->
							<span class="email-id">abc@xyz.com</span>
						</div>
					</div>	
				</div>
			</div>
	<!-- </div> -->